* {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  color: #4b4a4a;
}
a {
  text-decoration: none;
  font-size: 18px;
}
h1 {
  font-size: 54px;
}
h2{
  font-size: 35px;
}
p {
  font-size: 20px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  margin-bottom: 100px;
}
.logo-txt a {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #fe5f2e;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  padding: 0px 20px;
  color: rgba(0, 0, 0, 0.822);
  transition: 0.4s all;
}
ul li a:hover {
  color: #fe4a2e;
}
.signup {
  padding: 10px 25px;
  border-radius: 25px;
}
.btn {
  font-weight: 700;
  color: #fff;
  background: linear-gradient(#fb994c, #fe4a2e);
  transition: 1s all;
}
.btn:hover {
  background: #fff;
  box-shadow: 1px 1px 15px #777;
  color: #fe702e;
}
.flexible {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.text-content {
  width: 30%;
}
.hero-text {
  margin-right: 15%;
}
.orange {
  color: #fe702e;
}
.text-content p,
.text-content h1,
.text-content h2 {
  margin-bottom: 35px;
}
.order {
  padding: 10px 40px;
  border-radius: 10px;
}
.about-section {
  background: url(./assets/about-bg.png);
}
.about-img img {
  width: 550px;
}
.about-text {
  margin-left: 15%;
}
.contact {
  padding: 15px 40px;
  border-radius: 30px;
}
.reciepe-section {
  text-align: center;
  margin-bottom: 150px;
}
.reciepe-section h2 {
  margin-bottom: 20px;
  font-size: 30px;
}
.reciepe-section p {
  margin-bottom: 50px;
  font-size: 20px;
}
.recipe-card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 320px;
  height: 470px;
  margin: 0px 50px;
  border-radius: 15px;
  box-shadow: 1px 1px 15px rgba(119, 119, 119, 0.486);
  text-align: start;
}
.card img {
  width: 280px;
  height: 200px;
  margin: 20px;
  border-radius: 15px;
}
.card h3 {
  font-size: 28px;
}
.card p {
    line-height: 28px;
    font-size: 16px;
}
.card h3,
.card p {
  margin: 10px 10px 10px 20px;
}
.book-section {
  background: #fff4ec;
  height: 750px;
  margin-bottom: 0px;
}
.book-img img{
  border-radius: 25px;
  box-shadow: 1px 1px 15px rgba(119, 119, 119, 0.486);
}
.book-text {
  margin-left: 15%;
}
.book-text h2 {
  margin-bottom: 5px;
}
.book-text p {
  margin-bottom: 20px;
}
.book-text ::placeholder {
  font-size: 16px;
  padding: 10px;
}
.book-text input {
  padding: 14px 114px;
  border-radius: 18px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  border-style: none;
  box-shadow: 1px 1px 8px rgba(119, 119, 119, 0.486);
}
#date, #email {
  padding: 14px 10px;
  color: #777;
  margin-right: 3px;
}
#message {
  font-size: 18px;
  width: 420px;
  height: 135px;
  padding: 15px 0px 0px 15px;
  border-style: none;
  border-radius: 25px;
  box-shadow: 1px 1px 8px rgba(119, 119, 119, 0.486);
  overflow: hidden;
  margin-bottom: 15px;
}
.submit {
  padding: 13px 139px;
  border-radius: 25px;
  border-style: none;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 700;
}
textarea:focus,
input:focus {
  outline: none;
  border: 1px solid orange;
}
footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  background: rgb(54, 53, 53);
  align-items:center;
  justify-content: center;
}
footer h2,
footer p {
  color: rgb(211, 211, 211);
  margin-bottom: 10px;
}
footer small {
  color: rgba(173, 171, 171, 0.767)
}